@font-face {
  font-family: proxima-nova-semibold;
  src: url("../fonts/Proxima/Mark Simonson - Proxima Nova Semibold.otf");
}

@font-face {
  font-family: proxima-nova-light;
  src: url("../fonts/Proxima/Mark\ Simonson\ -\ Proxima\ Nova\ Light.otf");
}

@font-face {
  font-family: proxima-nova-regular;
  src: url("../fonts/Proxima/Mark\ Simonson\ -\ Proxima\ Nova\ Regular.otf");
}

@font-face {
  font-family: proxima-nova-bold;
  src: url("../fonts/Proxima/Mark\ Simonson\ -\ Proxima\ Nova\ Bold.otf");
}

/* Main CSS */

body {
  margin-top: 2%;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
  padding-bottom: 1%;
  /*background-color: rgba(255, 255, 255, 0.85);*/
  /*border-bottom: 0.5px solid #a8b2b9;*/
}

.logo {
  width: 12%;
}

.logo img {
  width: 100%;
}

.sign {
  text-align: right;
  width: 88%;
}

h1,
h2 {
  font-family: proxima-nova-bold;
}

h3 {
  font-family: proxima-nova-semibold;
  font-size: 25px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 30px;
}

a {
  color: black;
  text-decoration: none;
}

li {
  text-decoration: none;
}

p {
  color: #a8b2b9;
  letter-spacing: 0;
}

.container {
  margin: 0% 10%;
  text-align: center;
  font-family: proxima-nova-light;
}

.highlight-yellow {
  background-color: #fffcef;
  font-size: 30px;
  padding: 20px 25px;
  border-radius: 100%;
  margin: 20px;
}

.highlight-white {
  background-color: white;
  font-size: 35px;
  padding: 40px 45px;
  border-radius: 100%;
  margin: 20px;
}

.text-info-bold {
  font-family: proxima-nova-semibold;
}

.text-secondary,
a {
  font-family: proxima-nova-regular;
}

.btn {
  padding: 13px 40px;
  text-decoration: none;
  border-radius: 4px;
  text-align: center !important;
  margin: 10px;
  margin-left: 0px;
  font-family: proxima-nova-regular;
}

.btn:hover {
  padding: 14px 40px;
  text-decoration: none;
  border-radius: 4px;
  text-align: center !important;
  margin: 10px;
  margin-left: 0px;
  font-family: proxima-nova-regular;
  font-size: 1.05em;
  transition: all 0.13s ease-out;
}

.btn-tab {
  padding: 13px 40px;
  text-decoration: none;
  border-radius: 4px;
  text-align: center !important;
  margin: 10px;
  margin-left: 0px;
  font-family: proxima-nova-regular;
}

.btn-tab:hover {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 13px 40px;
  text-decoration: none;
  border-radius: 4px;
  text-align: center !important;
  margin: 10px;
  margin-left: 0px;
  font-family: proxima-nova-regular;
}

.btn-blue {
  background-color: #0071ff;
  color: white;
}

.btn-blue:hover {
  background-color: #72b0ff;
  color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
}

.btn-blue-light {
  background-color: #f3f7fd;
  color: #0071ff;
}

.btn-blue-light:hover {
  background-color: #e8f2ff;
  color: #0071ff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
}

.btn-white {
  color: #0071ff;
  background-color: white;
  border: #0071ff;
}

.btn-white:hover {
  color: #0071ff;
  background-color: #e2eeff;
  border: #0071ff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
}

.text-blue {
  color: #0071ff;
}

.text-blue-underline {
  color: #0071ff;
  border-bottom: 3px solid #0071ff;
}

/* Login */
.login {
  margin: 0 20px;
  font-size: 15px;
}

/* Header */

.cover {
  padding-left: 33%;
  padding-right: 33%;
}

.cover img {
  width: 100%;
}

.pic-right-team {
  width: 40%;
}

.pic-right-team img {
  width: 100%;
}

.pic-right-concept {
  width: 50%;
}

.pic-right-concept img {
  width: 100%;
}

/* Bridge presentation */

.presentation h1,
p {
  margin: 10px;
}

.presentation {
  margin: 10px 0;
}

.getting_started-team {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
}

.getting_started-concept {
  display: flex;
  justify-content: space-between;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

.presentation-contact {
  margin: 10px 0;
  padding-top: 0%;
}

.presentation-team {
  margin: 10px 0;
  padding-top: 0%;
  width: 40%;
}

.presentation-concept {
  margin: 10px 0;
  padding-top: 0%;
  width: 40%;
  text-align: left;
}

.big-title {
  font-size: 53px;
  margin-top: 0;
}

.big-title-contact {
  font-size: 53px;
  margin-top: 5%;
}

.big-title-team {
  text-align: left;
  font-size: 40px;
  margin-top: 25%;
}

.big-title-concept {
  text-align: left;
  font-size: 40px;
  margin-top: 10%;
  margin-bottom: 4%;
}

.use_free {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.use_free-contact {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
}

.text-secondary {
  font-size: 20px;
}

.text-secondary-contact {
  font-size: 20px;
  padding: 0 12%;
}

.use_free .text-secondary {
  font-size: 13px;
  margin-top: 20px;
}

/* Product tabs presentation */

.tabs {
  background-color: #f3f7fd;
  border-radius: 5px;
  margin-top: 5%;
  padding: 20px 5%;
  padding-bottom: 8%;
  min-height: 60vh;
}

.tabs-menu {
  display: flex;
  margin-top: 3%;
  justify-content: space-around;
  white-space: nowrap;
  margin-bottom: 8%;
}

.tabs-menu a {
  font-size: 17px;
}

.tabs-menu li {
  list-style: none;
}

.tabs-content {
  display: flex;
}

.tabs-content-left {
  width: 40%;
  padding-left: 6%;
  overflow: hidden;
}

.tabs-content-left img {
  width: 100%;
}

.tabs-content-right {
  padding-top: 5%;
  text-align: left;
  width: 40%;
  margin-left: 5%;
}

.tabs-content-right h2 {
  font-size: 29px;
}

.tabs-content-right p {
  text-align: left;
  margin-left: 0;
  margin-bottom: 10%;
  color: black;
}

.tabs-content-right .btn .btn-blue {
  margin-left: 0;
  margin-top: 20%;
}

.tabs-content-right > a {
  margin-left: 0;
  margin-top: 20%;
}

.active-tab-menu {
  border-bottom: 3px solid black;
  border-radius: 0px;
}

.active-tab-menu:hover {
  border-bottom: 3px solid black;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.hide-block {
  display: none;
}

/* Bullet points to present bridge */

.section-2 {
  margin-top: 8%;
}

.text-info {
  padding: 0% 16%;
  font-family: proxima-nova-semibold;
}
.text-info-concept {
  margin-left: 0;
  margin-bottom: 10%;
  font-family: proxima-nova-semibold;
}

.bullet-points-legend {
  color: black;
  margin-top: 10%;
  padding: 0% 10%;
}

.bridge-bullet-points {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bridge-bullet-points div {
  width: 30%;
  margin-top: 8%;
}

/* Beta Banner */

.beta-banner {
  display: flex;
  justify-content: space-around;
  text-align: left;
  background-color: #0071ff;
  color: white;
  min-height: 160px;
  margin-top: 12%;
  padding: 2% 4%;
}

.beta-banner > .left {
  padding-top: 5.5%;
  width: 10%;
}

.beta-banner > .right {
  width: 60%;
}

.right > a {
  display: inline-block;
}

/* users reviews */

.section-3 {
  margin-top: 12%;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4%;
}

.reviews p {
  color: black;
  text-align: left;
  font-size: 18px;
}

.reviews > div {
  background-color: #f3f7fd;
  border-radius: 5px;
  width: 23%;
  margin: 20px;
  text-align: left;
  padding: 2% 30px;
}

.reviews_profil img {
  width: 100%;
  border-radius: 100%;
}

.reviews_profil div {
  width: 25%;
}

.reviews_profil {
  display: flex;
  margin-top: 20%;
}

.reviews_profil h2 {
  text-align: left;
  font-size: 20px;
  margin-bottom: 0;
}

.reviews_profil p {
  text-align: left;
  margin-left: 0;
  font-size: 16px;
  margin-top: 0;
}

.reviews_profil .reviews-description {
  text-align: left;
  width: 75%;
  padding-left: 5%;
  margin-bottom: 5%;
}

.btn-section-3 {
  margin-top: 5%;
}

/* pricing */

.section-4 {
  margin-top: 12%;
}

.pricing {
  margin-top: 5%;
  border: 3px solid #f3f7fd;
  border-radius: 6px;
  margin-left: 32%;
  margin-right: 32%;
  padding: 4% 4%;
}

.pricing img {
  width: 100%;
}

.pricing p {
  font-size: 16px;
  text-align: center;
}

.pricing .text-pricing {
  margin-bottom: 10%;
}

/* Fonctionnement */

.section-5 {
  margin-top: 12%;
}

.fonctionnalitees {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: 10%;
  padding-left: 10%;
}

.fonctionnalitees .card {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 0;
  overflow: hidden;
  border-radius: 5px;
}

.fonctionnalitees > .card {
  background-color: #f3f7fd;
  width: 45%;
  margin: 10px;
  text-align: left;
  padding-left: 15px;
  padding-top: 2%;
  padding-bottom: 0;
  overflow: hidden;
}

.fonctionnalitees .card div {
  width: 60%;
  overflow: hidden;
}

.fonctionnalitees .card div p {
  color: black;
  font-size: 18px;
}

.fonctionnalitees-images {
  width: 30%;
  overflow: hidden;
}

.fonctionnalitees-images img {
  width: 150%;
  padding-left: 10%;
  overflow: hidden;
}

/* newsletter */

.section-6 {
  margin-top: 12%;
}

.beta-access {
  margin-top: 5%;
  margin-bottom: 12%;
}

/* footer */

.footer {
  margin-top: 5%;
  padding: 7% 10%;
  display: flex;
  background-color: #0071ff;
  color: #ffffff;
}

.footer a {
  color: white;
}

.footer h3 {
  font-size: 20px;
  font-weight: bold;
}

.footer li {
  list-style: none;
  padding: 4% 0%;
  font-size: 16px;
  font-weight: normal;
}

.footer a:hover {
  list-style: none;
  padding-top: 4%;
  padding-bottom: 0%;
  font-size: 16px;
  font-weight: normal;
  border-bottom: 2px solid #ffffff;
}

.footer-link ul {
  margin-bottom: 20%;
  padding: 0;
}

.footer-logo {
  margin-right: 10%;
  width: 15%;
}

.footer-logo img {
  width: 100%;
}

.footer-link {
  display: flex;
  flex-wrap: wrap;
  padding-top: 7%;
}

.footer-link > div {
  width: 30%;
}

/*Section gauche Page Contact*/

.left-section-contact {
  display: flex;
  justify-content: space-between;
  padding: 7% 10%;
}

.right-image-contact {
  width: 40%;
}

.right-image-contact img {
  width: 100%;
}

.left-contact {
  text-align: left;
  margin-left: 0;
  width: 50%;
}

.left-contact p {
  margin-bottom: 15%;
  margin-left: 0;
  text-align: left;
}

/*Section droite Page Contact*/

.right-section-contact {
  display: flex;
  justify-content: space-between;
  padding: 7% 10%;
}

.left-image-contact {
  width: 40%;
}

.left-image-contact img {
  width: 100%;
}

.right-contact {
  text-align: left;
  margin-left: 0;
  width: 50%;
}

.right-contact p {
  margin-bottom: 15%;
  margin-left: 0;
  text-align: left;
}

/* Team section */

.team-section {
  margin-top: 13%;
}

.team-section-box {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.team-section-box {
  padding: 0% 5%;
  border-radius: 5px;
  text-align: center;
}

.profile-box {
  /*background-color: #f3f7fd;*/
  padding: 2% 2%;
  margin: 0 2%;
  border-radius: 5px;
  justify-content: center;
  text-align: "center";
}

.profile-box h3 {
  font-family: proxima-nova-semibold;
  margin-bottom: 4%;
}

.profile-box h4 {
  color: #0071ff;
  font-family: proxima-nova-semibold;
  margin-top: 0;
}

.picture-box {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  border-radius: 100%;
}

.picture-box img {
  width: 100%;
  text-align: "center";
}

/* Stats team section */

.stats-bandeau {
  padding: 2% 10%;
  margin: 10% 0;
  background-color: #f3f7fd;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.stat-label {
  color: #0071ff;
  font-family: proxima-nova-regular;
  font-size: 14px;
  margin-top: 0;
}

.stat-title {
  font-size: 32px;
  margin-bottom: 5%;
}

/*Jobs section*/

.jobs-section {
  margin: 10% 0%;
}

.jobs-section h4 {
  color: #5b6469;
  margin-bottom: 7%;
}

.jobs-section h2 {
  margin-top: 0;
}

/* Constat du marché page concept*/

.grey-banner {
  margin-top: 8%;
  background-color: #f3f7fd;
  padding: 5% 0;
}

.constat-section-concept {
  margin-top: 10%;
  margin-bottom: 7%;
}

.constat-title {
  margin-bottom: 0;
}

.left-section-concept {
  display: flex;
  justify-content: space-between;
  padding: 0% 5%;
}

.left-concept {
  text-align: left;
  margin-left: 0;
  width: 50%;
}

.left-concept p {
  margin-bottom: 15%;
  margin-left: 0;
  text-align: left;
}

.right-image-concept {
  width: 40%;
}

.right-image-concept img {
  width: 100%;
}

.right-section-concept {
  display: flex;
  justify-content: space-between;
  padding: 14% 5%;
}

.left-image-concept {
  width: 40%;
}

.left-image-concept img {
  width: 100%;
}

.right-concept {
  text-align: left;
  margin-left: 0;
  width: 50%;
}

.right-concept p {
  margin-bottom: 15%;
  margin-left: 0;
  text-align: left;
}

/* Section solution Bridge */

.solution-section-concept {
  margin-top: 15%;
  margin-bottom: 7%;
}
