@font-face {
    font-family: proxima-nova-semibold;
    src: url('../fonts/Proxima/Mark Simonson - Proxima Nova Semibold.otf');
}

@font-face {
    font-family: proxima-nova-light;
    src: url('../fonts/Proxima/Mark\ Simonson\ -\ Proxima\ Nova\ Light.otf');
}

@font-face {
    font-family: proxima-nova-regular;
    src: url('../fonts/Proxima/Mark\ Simonson\ -\ Proxima\ Nova\ Regular.otf');
}

/* Main CSS */

header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 20px;
}

h1, h2, h3 {
    font-family: proxima-nova-semibold;
}

a {
    color: black;
    text-decoration: none;
}

p {
    color: #A8B2B9;
    letter-spacing: 0;
}

.container {
    margin: 0 10%;
    text-align: center;
    font-family: proxima-nova-light;
}

.highlight-yellow {
    background-color: #FFFCEF;
    font-size: 40px;
    padding: 15px 20px;
    border-radius: 100%;
    margin: 20px;
}

.highlight-white {
    background-color: white;
    font-size: 40px;
    padding: 15px 20px;
    border-radius: 100%;
    margin: 20px;
}

.text-info-bold {
    font-family: proxima-nova-semibold;
}

.text-secondary, a {
    font-family: proxima-nova-regular;
}

.btn {
    padding: 13px 40px;
    text-decoration: none;
    border-radius: 2px;
    text-align: center !important;
    margin: 10px;
    margin-left: 0px;
    width: 40%;
}

.btn-tab:hover {
    background: rgba(0,0,0,0.05);
    border-radius: 4px;
}

.btn-blue {
    background-color: #0071FF;
    color: white;
}

.btn-blue-light {
    background-color: #F3F7FD;
    color: #0071FF;
    font-size: 14px;
    padding-top: 17px;
}

.btn-white {
    color: #0071FF;
    background-color: white;
    border: #0071FF;
}

.text-blue {
    color: #0071FF;
}

/* Login */
.login {
    margin: 0 20px;
}

/* Bridge presentation */

.presentation h1, p {
    margin: 10px;
}

.presentation {
    margin: 50px 0;
}

.big-title {
    font-size: 54px;
}

.use_free {
    display: flex;
    flex-direction: column;
}

.use_free .text-secondary {
    font-size: 13px;
    margin-top: 20px;
}

/* Product tabs presentation */

.tabs {
    background-color: #F3F7FD;
    margin-top: 20px;
    padding: 20px 10%;
    min-height: 60vh
}

.tabs-menu {
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
    margin-bottom: 10%;
}

.tabs-menu li {
    list-style: none;
}

.tabs-content {
    display: flex;
}

.tabs-content-left {
    width: 50%;
}

.tabs-content-right {
    text-align: justify;
    width: 50%;
    margin-left: 10%;
}

.tabs-content-right > a {
    margin: 20px;
}

.active-tab-menu {
    border-bottom: 3px solid black;
    border-radius: 0px;
}

.active-tab-menu:hover {
    border-bottom: 3px solid black;
    border-radius: 0px;
}

.hide-block {
    display: none;
}

/* Bullet points to present bridge */

.bridge-bullet-points {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bridge-bullet-points div {
    width: 30%;
    margin-top: 20px;
}

/* Beta Banner */

.beta-banner {
    display: flex;
    justify-content: space-around;
    text-align: left;
    background-color: #0071FF;
    color: white;
    min-height: 160px;
    margin-top: 5%;
}

.beta-banner > .left {
    padding-top: 5%;
    width: 10%;
}

.beta-banner > .right {
    width: 60%;
}

.right > a {
    display: inline-block;
}

/* users reviews */

.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.reviews > div {
    background-color: #F3F7FD;
    width: 20%;
    margin: 10px;
    margin-left: 0;
    text-align: left;
    padding: 30px;
}

.reviews img {
    width: 70%;
    border-radius: 100%;
}

.reviews_profil {
    display: flex;
}